<% recently_vieweds = current_user.recently_vieweds(controller.resource ? controller.resource.class.to_s.underscore : controller.base_path.singularize) %>
<%- if recently_vieweds.count > 0 -%>
<div class="listing last-viewed">
  <h3 class="listing-head"><span>Recently Viewed</span></h3>
  <ul class="listing-items">
    <%- recently_vieweds.each do |recently_viewed| -%>
    <li class="link<%= " selected" if controller.resource == recently_viewed %>">
      <a title="<%= recently_viewed.full_name %>" href="/<%= recently_viewed.class.table_name %>/<%= recently_viewed.id %>/overview"><%= recently_viewed.name %></a>
    </li>
    <%- end -%>
  </ul>
</div>
<%- end -%>
