<div class="field-group-overview estimated-premium-overview">
  <h5 class="field-group-overview-head">Estimated Premium</h5>
  <table class="overview-listing">
    <thead>
      <tr>
        <th>Channel</th>
        <th>Estimated Premium</th>
      </tr>
    </thead>
    <tbody>
      <% ["life", "annuity", "long_term_care", "disability"].each do |channel| %>
      <tr class="item">
        <td><%= channel.titleize %></td>
        <td class="number">
          <td class="number"><%= @advisor.send("estimated_#{channel}_premium") %></td>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="field-group-overview lead-overview">
  <h5 class="field-group-overview-head">Lead</h5>
  <table class="overview-listing">
    <tbody>
      <tr class="item"><th>Marketing Organization</th><td><%= @advisor.marketing_organization %></td></tr>
      <tr class="item"><th>Interest Level</th><td><%= @advisor.interest_level %></td></tr>
      <tr class="item"><th>Response Method</th><td><%= @advisor.response_method %></td></tr>
    </tbody>
  </table>
</div>